@import "reset.scss";

$primary: #6fc0ba;
$secondary: #00eeee;

body {
  background-color: #000;
  font-family: 'Inconsolata', sans-serif;
  color: #fff;
  font-size: 10pt;
}

* {
  font-size: inherit;
  font-family: inherit;
  box-sizing: border-box;
}

.main {
  border: 2px solid #6fc0ba;
  border-radius: 5px;
  box-shadow: 0 0 2px #005b8e, inset 0 0 2px #005b8e;
  padding: 5px 0;
  margin: 5px 10px;
  height: calc(100vh - 20px);
  overflow: scroll;

  button {
    background: none;
    border: none;
    color: $secondary;
    display: inline;
    text-transform: uppercase;
    padding: 0;
  }
}

.header {
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  margin: 0;
  border-bottom: 1px solid #1b2f2d;
  padding: 2px 12px;
  text-transform: uppercase;
  line-height: 150%;

  h1 {
    display: inline;
  }

  &__actions {
    float: right;
    button {
      margin-left: 30px;
    }
  }
}

.account-list {
  width: 300px;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  background: #ccc;
  overflow: auto;
  display: none;
}

.account-box {
  padding: 1em;

  // button {
  //   display: none; //@TODO temporary
  // }

  &__header {
  }

  &__content {
    display: none;
    .account-box--active & {
      display: block;
    }
  }

  &__title {
    margin: 0;
  }

  &__input {
    padding: 0.5em;
    width: 100%;
  }

  &__list {
  }

  &__list__item {
  }
}

.widget {
  margin: 1em;
  max-width: 420px;
  display: inline-block;
  border: 2px solid $primary;
  border-radius: 2px;
  box-shadow: 0 0 6px #005b8e, inset 0 0 6px #005b8e;
  padding: 3px;

  &__content {
    border: 1px solid #1b2f2d;
    overflow: hidden;
  }

  &__title {
    color: #fff;
    margin: 0;
    border-bottom: 1px solid #1b2f2d;
    padding: 2px 12px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 150%;
  }

  &__actions {
    float: right;
    padding-left: 20px;
  }

  &__list {
    padding: 2px 4px;
    height: 230px;
    overflow-y: auto;
  }

  &__list__item {
    margin: 2px 0 0;
    padding: 4px 6px;
    color: #fff;
    font-size: 12px;

    a {
      color: $primary;
      text-decoration: none;
    }
  }

  &__gallery {
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }

  &__gallery__item {
    display: inline-block;
    text-align: center;
    position: relative;
    white-space: normal;
    border: 1px solid #6fc0ba;
    margin: 0 5px;
  }

  &__gallery__img {
    display: block;
    filter: hue-rotate(90deg);
    opacity: 0.7;
  }
}
