@import "reset.scss";

$primary: #6fc0ba;
$secondary: #00eeee;

body {
  background-color: #000;
  font-family: 'Inconsolata', sans-serif;
  color: #fff;
  font-size: 10pt;
}

* {
  font-size: inherit;
  font-family: inherit;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.lp {
  border: 2px solid #6fc0ba;
  border-radius: 5px;
  box-shadow: 0 0 2px #005b8e, inset 0 0 2px #005b8e;
}

.main {
  transition: 0.2s linear transform;

  &--open {
    transform: translate3d(-330px, 0, 0);
  }

  button {
    background: none;
    border: none;
    color: $secondary;
    display: inline;
    text-transform: uppercase;
    padding: 0;
  }
}

.header {
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  margin: 0;
  border-bottom: 1px solid #1b2f2d;
  padding: 2px 12px;
  text-transform: uppercase;
  line-height: 150%;

  h1 {
    display: inline;
  }

  &__actions {
    float: right;
    button {
      margin-left: 30px;
    }
  }
}

.account-list {
}

.account-box {
  padding: 1em;
  border-bottom: 1px solid #1b2f2d;

  // button {
  //   display: none; //@TODO temporary
  // }

  &__header {
    text-transform: uppercase;
    margin-bottom: 10px;

    .toggle {
      float: right;
    }
  }

  &__content {
    display: none;
    padding-bottom: 5px;
    .account-box--active & {
      display: block;
    }
  }

  &__title {
    margin: 0;
    display: inline;
    font-size: 16px;
  }

  &__input {
    padding: 0.5em;
    width: 100%;
    background: none;
    border: 1px solid $primary;
    color: $secondary;
  }

  &__list {
    margin: 10px 0;
  }

  &__list__item {
    padding: 7px 0;

    .toggle {
      float: right;
    }
  }
}

.dashboard,
.settings {
  padding: 5px 0;
  margin: 5px 10px;
  height: calc(100vh - 20px);
}

.settings {
  width: 300px;
  position: fixed;
  left: 100%;
  top: -5px;
  bottom: 5px;
  background: #000;
  overflow: auto;
}

.widget-list {
  height: calc(100% - 40px);
  overflow: scroll;
}

.widget {
  margin: 1em;
  max-width: 420px;
  display: inline-block;
  border: 2px solid $primary;
  border-radius: 2px;
  box-shadow: 0 0 6px #005b8e, inset 0 0 6px #005b8e;
  padding: 3px;

  &__content {
    border: 1px solid #1b2f2d;
    overflow: hidden;
  }

  &__title {
    color: #fff;
    margin: 0;
    border-bottom: 1px solid #1b2f2d;
    padding: 2px 12px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 150%;
  }

  &__actions {
    float: right;
    padding-left: 20px;
  }

  &__list {
    padding: 2px 4px;
    height: 230px;
    overflow-y: auto;
  }

  &__list__item {
    margin: 2px 0 0;
    padding: 4px 6px;
    color: #fff;
    font-size: 12px;

    a {
      color: $primary;
      text-decoration: none;
    }
  }

  &__gallery {
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    display: flex;

    &__item {
      display: flex;
      flex: 1;
      text-align: center;
      position: relative;
      white-space: normal;
      border: 1px solid #6fc0ba;
      margin: 0 5px;
      min-width: 230px;
      min-height: 230px;
      background: no-repeat center center;
      background-size: cover;
      align-items: flex-end;
    }

    &__content {
      display: block;
      padding: 10px;
      color: $primary;
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 100%
      );
    }

    &__title {
      display: block;
    }

    &__sub {
      display: block;
    }
  }

  &__media {
    padding: 2px 4px;
    height: 230px;
    overflow-y: auto;

    &__item {
      padding: 4px 6px;
      display: block;
      height: 48px;
    }

    &__img {
      height: 40px;
      width: 40px;
      float: left;
      margin-right: 4px;
    }

    &__title,
    &__sub {
      color: $primary;
      display: block;
    }

    &__title {
    }

    &__sub {
    }
  }

  &__graph {
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    display: flex;

    &__item {
      flex: 1;
      position: relative;
      white-space: normal;
      border: 1px solid #6fc0ba;
      margin: 0 5px;
      min-width: 280px;
      min-height: 230px;
      background: no-repeat center center;
      background-size: cover;
      align-items: flex-end;
      padding: 4px 8px 0 8px;
    }

    &__title {
      display: block;
      margin-bottom: 7px;
    }

    &__row {
      width: 100%;
      margin-bottom: 7px;
    }

    &__label {
      padding-bottom: 2px;
      font-size: 12px;
    }

    &__value {
      height: 4px;
      background: $primary;
    }
  }
}

.toggle {
  text-align: right;
  display: inline-block;
  line-height: 14px;
  color: $primary;

  &--active {
    color: $secondary;
  }

  &--deactive {
  }

  &__symbol {
    width: 14px;
    height: 14px;
    //background: $primary;
    border-radius: 50%;
    display: inline-block;
    float: right;
    border: 2px solid $secondary;
    margin-left: 4px;

    .toggle--active & {
      background: $secondary;
    }
  }
}
